body {
    color: rgba(245, 251, 255, 0.993);
    background: rgb(25, 158, 182);
    margin: 0px;
}

.Chamada {

    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 32px;
    color:rgb(3,21,182)
}

section {
    background: rgb(54, 127, 175);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
div{
    margin-right: 40;
}

.chamada-texto {margin-right: 5%;
}

h1 {
    font-size: 40px;
}
img{
    height: 150px;
}

.Categoria-Videos {
    display :flex;
    overflow-x: auto;
    gap :10px
}

.Categoria {
     padding-left: 20px;
     padding-right: 20px;
}
